<main class="contenedor contenedor-formularios">
   <h1><%= nombrePagina %></h1>

   <form action="/inicar-sesion" method="POST" class="default-form">
      <div class="campo">
         <label >Email</label>
         <input type="email" name="email"  placeholder="Tu Email">
      </div>      
      <div class="campo">
         <label for="password">Password</label>
         <input type="password" name="password" id="password" placeholder="Tu Password">
      </div>      
      <div class="campo enviar">
         <input type="submit" class="btn btn-rosa" value="Iniciar Sesión">
      </div>
   </form>

</main>